<!DOCTYPE html>
<html>
    <h1>LOGGER</h1>
    <body>
        <form method="post">
            <input id="text_input" name ="text_input" type="text" placeholder="Write in logs"/>
            <input type="submit" value="SUBMIT"/>
        </form>
        <script>
            console.log("log from browser");
            var usr_input = document.getElementById("text_input").value; 
            console.log(usr_input);
        </script>
        <h3>LOGS</h3>
        <p>We print logs here:</p>
    </body>
</html>