<!DOCTYPE html> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<canvas id="myChart"></canvas>
<script type="text/javascript">
      Chart.defaults.global.responsive = false;
      var ctx = document.getElementById('myChart').getContext('2d');
      var label = '{{df_date}}';
      var chart = new Chart(ctx, {
          // The type of chart we want to create
          type: 'line',
          // The data for our dataset
          data: {
              label,
              datasets: [{
                  label: "Trend",
                  data: '{{df_trend}}',
                  borderWidth: 5,
                  fill: false,
                  borderColor: '#fc8403'
              }]
          },
      });
</script>




